.items {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
}

.item {
    display: inline-block;
    margin: 10px;
    width: 120px;
    height: 150px;
    line-height: 100px;
    text-align: center;
}

body {
    background-color: #ddd;
}
